.product-card {
  display: flex;
  align-items: center;
  gap: 1rem;

  //   border: 2px solid lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);

  transition: all 0.2s ease-out;
}

.product-card:hover {
  transform: translateY(-0.1rem);
}

.product-card-image-search {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 0.4rem 0 0 0.4rem;
}

.product-card-body-search {
  flex: 1;
  padding: 0.5rem 0;
}

.product-card-body div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.product-card-title-search {
  font-size: 16px !important;
  white-space: break-spaces;
  margin: 0;
}

.product-card-body-price {
  font-size: 22px !important;
  font-weight: 800 !important;
  margin: 0 !important;
}

.product-card-button {
  min-height: 72px;
  border: none;
  padding: 0 1rem;
  background-color: rgb(237 80 47);
  border-radius: 0 0.5rem 0.5rem 0;
}

.product-card-icon {
  font-size: 24px;
  color: #fff;
  transition: all 0.2s ease-out;
}

.product-card-button:hover {
  .product-card-icon {
    transform: scale(0.8);
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .product-card-title-search {
    font-size: 12px !important;
  }

  .product-card-body-price {
    font-size: 18px !important;
    font-weight: 800 !important;
    margin: 0 !important;
  }
}
