.product-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  //   border: 2px solid lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 28px -3px rgba(0, 0, 0, 0.1);

  white-space: nowrap;

  transition: all 0.2s ease-out;
}

.product-card:hover {
  transform: translateY(-0.1rem);
}

.product-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.4rem 0 0 0.4rem;
}

.product-card-body {
  padding: 0.5rem 0;
}

.product-card-body h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.product-card-body p {
  font-size: 12px;
  font-weight: 500;
  max-width: 14rem;
  color: rgb(237 80 47);
  margin: 0;
  white-space: normal;
}

.discount-container {
  background-color: #ed502f;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount-container p {
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.2rem;
  margin: 0;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.discount-container small {
  margin: 0;
  font-size: 10px;
}

.product-card-price-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  gap: 0.2rem;
}

.product-card-price-section div {
  display: flex;
  align-items: center;
}

.product-card-price-section del {
  font-size: 20px;
  color: rgb(200 200 200);
}

.product-card-price-section p {
  font-size: 32px;
  color: #111;
  font-weight: 800;
  margin: 0;
}

.product-card-price-section small {
  font-size: 14px;
  color: #111;
  font-weight: 300;
}

.quantity-section {
  display: flex;
  gap: 0.2rem;
}

.quantity-section input {
  border: 2px solid rgb(220 220 220);
  text-align: center;
  max-width: 52px;
  border-radius: 0.5rem;
  outline: none;
}

.quantity-section button {
  font-size: 16px;
  font-weight: 700;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: #fff;
  border: 2px solid rgb(220 220 220);
  border-radius: 0.5rem;
}

.product-card-button {
  min-height: 100px;
  border: none;
  padding: 0 1rem;
  background-color: rgb(237 80 47);
  border-radius: 0 0.5rem 0.5rem 0;
}

.product-card-icon {
  font-size: 24px;
  color: #fff;
  transition: all 0.2s ease-out;
}

.product-card-button:hover {
  .product-card-icon {
    transform: scale(0.8);
  }
}
