.bread-link {
  text-decoration: none !important;
  color: #111 !important;
  font-weight: 600;
  font-size: 14px;
}

.bread-link:hover {
  text-decoration: underline !important;
  color: #111 !important;
}
