* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #111 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
